p { 
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.3em;   
    margin: 25px;
    margin-top: 40px;
}
li {
    margin: 20px;
    margin-left: 90px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.1em;
}
section{
    min-height: 590px;
    border: 1px solid #808080;
}

footer{
    
}
